.TweetsList ul>li {
    margin-bottom: 0rem;
}

.TweetsHeader {
    background: #FFFFFF;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.23);
    border-radius: 5px;
    display: flex;
    padding: 1rem;
    font-size: 25px;
    color: gray;
}
  
.TweetsListItem {
    background: #FFFFFF;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.23);
    border-radius: 5px;
    display: flex;
    padding: 1rem;
}

.TweetsListItem .username{
    margin-right: 10px;   
}

.TweetsListItem .comment{
    font-size: 17px;
}

.TweetsListItem .expand{
    font-size: 15px;
    color: lightslategray;
}
  
.TweetsListItem__avatar {
    border-radius: 8px;
    background: #a3a3a3;
    margin-right: 0.5rem;
    width: 80px;
    height: 80px;
}